html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    font-family:  Arial, sans-serif;
}

/* div{
    width: 100px;
    height: 130px;
} */

.satu{
    background-color: #6AB784;
    width: 100%;
    height: 80px;
}
.satu img{
    width: 250px;
}
.satu span{
    float: right;
    margin: 30px 35px;
    font-family:  Arial, sans-serif;
    color: white;
}


.dua{
    background-color: #302B3C;
    position: absolute;
    height: 100%;
    width: 250px;
    z-index: 2;
}
.dua header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 50px;
    background-color: #3C3846;
}
.dua ul{
    text-decoration: none;
    list-style: none;
}
.dua ul a{
    display: block;
    width: 100%;
    line-height: 45px;
    font-size: 15px;
    color: white;
    padding-left: 30px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
}
.dua ul a:hover{
    color: #6AB784;
    background-color: #3C3846;
}
/* .dua img{
    width: 200px;
    padding: 10px;
} */
.menu{
    font-family:  Arial, sans-serif;
    font-size: 17px;
    font-weight:normal;
}


.tiga{
    background-color: white;
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 1;
    border-bottom: 1px solid #6AB784;
}
.tiga img{
    width: 400px;
    height: 50px;
    padding: 10px;
    float: left;
}
.tiga h3{
    font-family: Calibri, sans-serif;
    font-size: 17px;
    font-weight: normal;
    float: left;
    color: #6AB784;
    padding: 15px 0px 15px 270px;
}
.tiga .breadcrumb{
    font-family: Calibri, sans-serif;
    font-size: 17px;
    font-weight: normal;
    float: left;
    color: #6AB784;
    margin-left: 3px;
    padding: 15px 0px ;
}
/* search */
.search-box{
    float: right;
    margin: 10px 35px;
    background-color: white;
    height: 18px;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #6AB784;
    box-shadow: 1px 1px 1px #888;
}

.search-box input{
    border: none;
    outline: none;
    background: none;
}

.search-box i{
    color: #302B3C;
}


.empat{
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
    /* min-height: 200px; */
    position:absolute;
    /* z-index: 8; */
}
.empat2{
    float: left;
    background-color: white;
    width: 80%;
    /* min-height: 200px; */
    height: 62%;
    margin: 70px 35px 70px 270px;
}
.empat2 .tambah{
    float: right;
    margin: 20px 30px;
    background-color: #18b84e;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
}
.empat2 .tambah:hover{
    background-color: #6AB784;
}

.empat2 .judul{
    font-size: 20px;
    margin: 20px;
}
/* .empat2 .key{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 40px;
    position: absolute;
} */
.empat2 label{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 40px;
    position: absolute;
}
.durasi{
    font-size: 15px;
    margin-left: 40px;
    position: absolute;
}
.empat2 #posisi, 
.empat2 #unit,
.empat2 #departemen,
.empat2 #tanggal_mulai,
.empat2 #tanggal_selesai{
    margin-left: 250px;
    margin-top: 15px;
    background-color: white;
    height: 15px;
    width: 50%;
    border-radius: 5px;
    padding: 10px 15px;
    border: 1px solid #888;
    font-size: 17px;
    box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.5);
}
#durasi{
    font-weight: bold;
    margin-left: 120px;
    font-size: 17px;
}
.empat2 #foto{
    margin-left: 250px;
    margin-top: 15px;
}
.empat2 .simpan{
    margin: 17px 10px 15px 40px;
    background-color: #6AB784;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 20px;
}
.empat2 .simpan:hover{
    background-color: #18b84e;
}
.empat2 .display_batal{
    display: flex;
    margin: -40px 10px 15px 150px;
}
.empat2 .batal{
    text-decoration: none;
    padding: 5px 30px;
    border: none;
    border-radius: 3px;
    background-color: #c0c0c0;
}
.empat2 .batal:hover{
    background-color: #dedede;
}








/* table{
    width: 96%;
    margin: 20px;
    float: left;
    background-color: #d5d5d5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
table img{
    width: 60px;
}
table td{
    padding: 5px;
}
table th{
    width: 14%;
    padding: 10px;
    background-color:#6AB784;
}
table .detail{
    background-color: #18b84e;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 6px 9px;
    margin-top: 5px;
}
table .hapus{
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 6px 9px;
    margin-top: 5px;
}
table .detail:hover{
    background-color: #6AB784;
    position: relative;
}
table .detail:hover::after{
    content: "Detail";
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    padding: 5px;
    border: 1px solid #ccc;
}
table .hapus:hover{
    background-color: rgb(255, 68, 68);
    position: relative;
}
table .hapus:hover::after{
    content: "Hapus Karyawan";
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    padding: 5px;
    border: 1px solid #ccc;
}
table .kiri{
    border-top-left-radius: 5px;
    width: 0.2%;
}
table .foto{
    width: 8%;
}
table .kanan{
    width: 6%;
    border-top-right-radius: 5px;
} 

table tr:nth-child(odd){
    background-color: #EEEEEE;
}
table tr:nth-child(even){
    background-color: white;
} */
